
        :root {
            --primary-color: #FF4E42;
            --secondary-color: #313140;
            --background-color: #f9f9f9;
            --text-color: #515164;
            --font-family: 'Noto Sans', sans-serif;
        }

        body {
            font-family: var(--font-family);
            background-color: var(--background-color);
            margin: 0;
            padding: 1.25rem;
            animation: fadeIn 0.5s; /* Animation for the whole page */
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

      
         @keyframes tabFadeIn {
             from { opacity: 0; transform: translateY(-10px); }
              to { opacity: 1; transform: translateY(0); }
        }

        .tabs1 .tab1 {
              animation: tabFadeIn 0.5s forwards; 
        }

     
            .tabs1 .tab1:nth-child(1) { animation-delay: 0s; }
            .tabs1 .tab1:nth-child(2) { animation-delay: 0.1s; }
            .tabs1 .tab1:nth-child(3) { animation-delay: 0.2s; }
            .tabs1 .tab1:nth-child(4) { animation-delay: 0.3s; }
            .tabs1 .tab1:nth-child(5) { animation-delay: 0.4s; }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f9f9f9;
            padding: 0.625rem; 
            box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        .navbar h1 {
            margin: 0;
            color: var(--secondary-color);
            cursor: pointer;
        }

        .menu {
            position: relative;
            cursor: pointer;
        }

        .menu-content {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #f9f9f9;
            border: 1px solid #515164;
            box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .menu-content.active {
            display: block;
        }

        .menu-content a {
            display: block;
            padding: 0.625rem; 
            color: var(--text-color);
            text-decoration: none;
        }

        .menu-content a:hover {
            color: #FF4E42;
        }


        .tabs {
            display: flex;
            margin-bottom: 1.25rem; 
        }

        .tab {
            padding: 0.625rem 0.9375rem; 
            cursor: pointer;
            color: var(--primary-color);
            font-weight: bold;
            transition: color 0.3s;
            flex-grow: 1;
            text-align: center;
        }

        .tab:hover {
            color: #FF4E42; 
        }

        .section {
            border: 0.0625rem solid #515164;
            border-radius: 0.625rem; 
            padding: 1.25rem; 
            margin: 0.625rem 0; 
            background-color: #f9f9f9;
        }

        /* Course card styling */
        .course-card {
            background-color: #ffffff; /* Background color for the card */
            border: 0.0625rem solid #ffffff;
            border-radius: 0.05rem;
            padding: 1rem; 
            margin-bottom: 1rem; /* Space between the cards */
            transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s; /* Add transform transition */
            text-align: center;  
            flex: 3; 
            box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* Initial shadow */
            margin-right: 1rem ;
        }

        /* Progress card styling */
        .progress-card {
            background-color: #ffffff; /* Background color for the card */
            border: 0.0625rem solid #515164;
            border-radius: 0.5rem;
            padding: 1rem; 
            margin-bottom: 2rem; /* Space between the cards */
            transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s; /* Add transform transition */
            text-align: center;  
            flex: 1; 
            margin-right: 1rem ;
        }

        .progress-container {
            display: flex; 
            justify-content: space-between; 
            flex-wrap: wrap; 
        }

        .course-card:hover, .progress-card:hover {
            box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.2); 
            background: fixed;
            transform: translateY(2px); 
        }

        .progress-bar {
            background-color:#cccccc;
            border-radius: 1rem;
            overflow: hidden;
            margin: 0.1rem 0;
        }

        .progress1 {
            height: 1.5rem;
            background-color: var(--primary-color);
            text-align: center;
            line-height: 1.5rem ;
            color: white;
        }

        .progress {
            height: 1rem ;
            background-color: var(--primary-color);
            text-align: center;
            line-height: 1rem;
            color: white;
            padding: 0.1rem  ;
            margin-bottom: 0rem  ;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            margin-top: 1.25rem; 
        }

        .input-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.9375rem; 
            padding: 0.2rem 0.5rem;
        }

        .input-container input {
            width: calc(100% - 6.25rem); 
            padding: 0.625rem; 
            border: 0.0625rem solid #515164;
            border-radius: 0.3125rem; 
            font-family: var(--font-family);
        }

        .track-list {
            margin: 1.25rem 0; 
        }

        .track-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.9375rem; 
            border-bottom: 0.0625rem solid #f9f9f9;
            color: var(--text-color);
            opacity: 0; /* Start hidden for fade-in effect */
            transform: translateY(10px); /* Start slightly below for slide effect */
            animation: fadeInSlide 0.5s forwards; /* Run the fade-in animation */
        }

        @keyframes fadeInSlide {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .track-item:last-child {
            border-bottom: none;
        }

        .logo {
            color: #FF4E42;
        }

        .track {
            color: #313140;
            border: 0.0625rem solid #313140; 
            background-origin: padding-box;
            padding: 0.3rem;
            border-radius: 0.3125rem; 
            transition: color 0.3s, border-color 0.3s; 
            text-align: center;
        }

        .track:hover {
            color: #FF4E42; 
            border-color: #FF4E42; 
        }

        .button {
            color:  #FF4E42; 
            background: #f9f9f9;
            border: 0.0625rem solid #FF4E42; 
            padding: 0.2rem 0.5rem; /* Padding for the button */
            border-radius: 0.8rem; 
            transition: color 0.3s, border-color 0.3s; 
            font-weight: bold;
        }
        .button1 {
            color:  #515164 ;
            background: #f9f9f9;
            border: 0.0625rem solid#515164 ;
            padding: 0.2rem 0.5rem; /* Padding for the button */
            border-radius: 0.8rem; 
            transition: color 0.3s, border-color 0.3s; 
        }
        .button:hover {
            color:#515164 ;
            border-color: #515164 ;
        }

        .button1:hover {
            color:#FF4E42; 
            border-color: #FF4E42; 
        }

        .center-text {
            text-align: center;
            margin-top: 4rem;
            color: #515164;
        }

        .tabs1 {
            display: flex;
            gap: 1rem; /* Khoảng cách giữa các tab */
            margin-left: 0rem; /* Thêm khoảng cách giữa logo và các tab */
        }

        .tab1 {
            color: #313140;
            background: #f9f9f9;
            padding: 0.625rem; /* Thêm padding cho tab */
            cursor: pointer; /* Thay đổi con trỏ khi hover */
        }

        .tab1:hover {
            color: #FF4E42; 
        }
  
